/* Will be compiled down to a single stylesheet with your sass files */

// ---------------------------------------------------------------------------
// Imports

@import "base";

/* -------------------------------------------------------------------------*/
/* Layout */

.container {
  @include container;
  @include susy-grid-background;
}

.header {
  background: $yellow;
  .sales {
    float: right;
  }
  .branding {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.features {
  background: $lightGray;
}
.steps {
  background: $Gray;
}
.notify {
  background: $white;
}
.sales{
  background: $yellow;
}
.footer {
  background: $darkGray;
}
